.size-table {
  text-align: left;
  display: inline-block;
}

.size-table .size-table-description {
  text-align: center;
}

.size-table table {
  margin: 0 auto;
}

.size-table tr th {
  font-weight: bold;
}

.size-table tr th,
.size-table tr td {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #eeeeee;
  font-size: 12px;
  color: #333;
}

.size-table tr:hover {
  background: rgba(238, 238, 238, 0.31);
}
